@{
    ViewBag.Title = "Verify";
}

<div class="block grid12">
    <div class="breadcrumb">
        <a href="/Home/Index">صفحه اصلی</a><span>›</span><a href="/Home/Verify">تکمیل خرید</a>
    </div>
</div>

<div class="full12">
    <div class="block grid12">
        @if (ViewBag.Message != null)
        {
            <div style="padding: 10px; background-color: #ffcece; border: 1px solid #ff4040; border-radius: 5px; font-size:x-large; font-weight:bold;">
                @ViewBag.Message
            </div>
        }
        @if (ViewBag.Message2 != null)
        {
            <div style="padding: 10px; background-color: #c1fdc8; border: 1px solid #1de134; border-radius: 5px; font-size: x-large; font-weight: bold; ">
                @ViewBag.Message2
            </div>
        }
    </div>
</div>