@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


    <div class="block grid12">
        <h1 class="block-header">مشخصات کاربر</h1>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName) :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>
        </div>
        <hr />
        <h1 class="block-header">لیست سطوح دسترسی</h1>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>سطح دسترسی برای این کاربر تعریف نشده است</p>
        }

        <table class="table table-striped ">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("برگشت", "Index")
        </p>



    </div>


